.login__extra-text {
  margin: 0;
  padding-block: 20px;
  font-size: 14px;
  line-height: 17px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}
